<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>All Customers</h1>
	<table border="1" cellpadding="5" cellspacing="1" >
	<tr th:each="cust : ${allcustomers}">
		<td th:text="${cust.name}"></td>
		<td th:text="${cust.email}"></td>
	</tr>
	</table>
</body>
</html>