<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer by name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Customer</h1>
	<table border="1" cellpadding="5" cellspacing="1" >
	<tr th:each="cust : ${customers}">
		<td th:text="${cust.name}"></td>
		<td th:text="${cust.email}"></td>
		<td th:each ="order : ${cust.orders}">
			<p th:text="${order.price}"></p>
			<p th:text="${order.createdDate}"></p>
		</td>
	</tr>
	</table>
</body>
</html>